@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --white: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit';
    font-size: 15px;
}

.container {
    width: 100vw;
    height: 100dvh;
    background: var(--light-gray);
    position: relative;

}

.card {
    background: var(--white);
    max-width: 18rem;
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.card img {
    width: 100%;
    border-radius: .6rem;

}

.title {
    padding: 1rem;
    font-weight: 700;
    color: var(--dark-blue);
}

.card p {
    text-align: center;
    color: var(--grayish-blue);
}

.card-body {
    padding: 0.6rem;
    text-align: center;
}